<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <appSettings>
        <add key="CKSetup/AutoRegisterLocalComponentPaths" value="../../CK.Sqlite.Setup.Model/bin/{BuildConfiguration}/netstandard2.1;../../CK.Sqlite.Setup.Runtime/bin/{BuildConfiguration}/netcoreapp3.1;" />
        <add key="LogToTextFile" value="True" />
    </appSettings>

</configuration>
