<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <appSettings>
        <add key="StObjMap/GeneratedAssemblyName" value="CK.Sqlite.Tests.Generated" />
        <add key="CKSetup/GenerateComponentsMode" value="True" />
        <add key="LogToConsole" value="True" />
    </appSettings>

</configuration>
