<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <appSettings>
        <add key="CKSetup/AutoRegisterLocalComponentPaths" value="../../CK.Sqlite.Setup.Model/bin/{BuildConfiguration}/net461;../../CK.Sqlite.Setup.Runtime/bin/{BuildConfiguration}/net461;../../CK.Sqlite.Setup.Model/bin/{BuildConfiguration}/netstandard2.0;../../CK.Sqlite.Setup.Runtime/bin/{BuildConfiguration}/netcoreapp2.1;" />
        <add key="LogToConsole" value="True" />
    </appSettings>

</configuration>
